{% extends 'base.html' %}

{% block content %}
<h1>Register Patient</h1>

<br>
<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input name="fname" type="text" placeholder="First Name" class="form-control" aria-describedby="emailHelp" value="{{ fname }}">
    </div>
    <div class="mb-3">
        <input name="lname" type="text" placeholder="Last Name" class="form-control" aria-describedby="emailHelp" value="{{ lname }}">
    </div>
    <div class="mb-3">
        <input name="email" type="email" placeholder="Email Address" class="form-control" aria-describedby="emailHelp" value="{{ email }}">
    </div>
    <div class="mb-3">
        <input name="mobile" type="tel" pattern="[6-9]{1}[0-9]{9}" placeholder="Phone Number" class="form-control" value="{{ mobile }}"
               aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <input name="age" type="number" min="1" max="110" placeholder="Age" class="form-control" aria-describedby="emailHelp" value="{{ age }}">
    </div>
    <div class="mb-3">
        <input name="ct" type="number" min="0" max="35" placeholder="CT Value" class="form-control" aria-describedby="emailHelp" value="{{ ct }}">
    </div>
    <div class="mb-3">
        <input name="oxy" type="number" min="0" max="100" placeholder="Oxygen" class="form-control" aria-describedby="emailHelp" value="{{ oxy }}">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

{% endblock %}
